@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Kanit";
}

body,
html {
  overflow-x: hidden;
}

.Background {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

h1 {
  text-align: center;
  color: rgb(79, 156, 233);
  font-size: 3rem;
}

.Input-Bar {
  padding-top: 5px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5px;
  font-size: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  text-align: center;
  height: 30px;
  font-size: 1.25rem;
  border: none;
  box-shadow: 0 4px 2px -2px gray;
}

.Search-Result-Container {
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.Result-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.Main-Photo {
  width: 500px;
  height: 350px;
  border-radius: 20px;
  flex-basis: 33%;
}

p {
  line-height: 18px;
}

.Content-Preview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
  flex-basis: 66%;
}

.Sub-Photo-Container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.Sub-Photo {
  max-width: 150px;
  height: 150px;
  border-radius: 10px;
}

p {
  color: darkgray;
}

.Clickable {
  text-decoration: underline;
  color: rgb(91, 190, 243);
}
.Clickable:hover {
  cursor: pointer;
  color: rgba(159, 216, 246, 0.866);
}

.Styled-Span {
  color: darkgray;
  text-decoration: underline;
  margin: 5px;
}

.Styled-Span:hover {
  color: rgb(120, 119, 119);
  text-decoration: underline;
  cursor: pointer;
}

.No-Style-Span {
  color: darkgray;
  margin: 5px;
}

h3:hover {
  color: rgba(169, 169, 169, 0.716);
  cursor: pointer;
}

.Clipboard-Container {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.Clipboard-Button {
  border: solid 2px;
  border-radius: 100%;
  border-color: rgb(0, 166, 255);
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Clipboard-Button:hover {
  cursor: pointer;
  background-color: rgba(178, 228, 255, 0.341);
}

.Clipboard-Button:active {
  cursor: pointer;
  background-color: rgba(73, 191, 254, 0.493);
}

.Clipboard-Img {
  height: 30px;
  width: 30px;
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}
